@charset "utf-8";
/* CSS Document */


/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

#header{
    text-align: center;
    color: white;
    background-color: #337ab7;
    border-radius: 0px 0px 30px 30px;
    padding: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

hr{
    border: 0;
    height: 1px;
    background: #337ab7;
    background-image: linear-gradient(to right, #ccc, #337ab7, #ccc);
}

.text-right{
    color: grey;
}

#leftSide{
    padding-right: 50px;
}

#rightSide{
    padding-left: 50px;
}

.navbar{
    margin-top: 40px;
}

/*********************************************************************************/
/* Formulare                                                                     */
/*********************************************************************************/

.form-horizontal, #rightSide{
    padding-top: 20px;
}

/*********************************************************************************/
/* Knöpfe                                                                        */
/*********************************************************************************/

.buttonWrapper{
    text-align: center;
}

/*********************************************************************************/
/* Panel                                                                         */
/*********************************************************************************/

.panel-title{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.panel-default>.panel-heading {
    color: white;
    background-color: #337ab7;
}